@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(calc(-100% + 200px));
    opacity: 1;
  }
  70% {
    transform: translateX(calc(-100% + 200px));
    opacity: 1;
  }
  85% {
    transform: translateX(calc(-100% + 200px));
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 12s linear infinite;
  display: inline-block;
  padding-right: 50px;
}
