@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% + 200px));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: inline-block;
  padding-right: 50px;
}
